.pane {
    -fx-background-color: #9c20cb;
}

.menu {
    -fx-background-color: yellow;
    -fx-background-radius: 15;
}

.menu-button {
    -fx-background-color: #81abff;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-min-width: 200px;
    -fx-border-color: orange;
    -fx-border-width: 0 0 3px 0;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, gray, 0, 0, 3, 3);
    -fx-font-size: 20px;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.menu-button:hover, .selected {
    -fx-background-color: purple;
    -fx-text-fill: yellow;
}

.menu-button:pressed {
    -fx-background-color: yellow;
    -fx-text-fill: purple;
}

.checkbox {
    -fx-background-color: #ffffff;
    -fx-border-color: red;
    -fx-border-width: 3px;
    -fx-font-size: 35px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-content-display: left;
}

.checkbox:hover {
    -fx-background-color: #9c20cb;
    -fx-cursor: HAND;
    -fx-background-radius: 15px;
}

.checkbox:selected:hover {
    -fx-background-color: #9c20cb;
    -fx-cursor: HAND;
    -fx-background-radius: 15px;
}

.checkbox:selected {
    -fx-background-color: rgb(233, 238, 19);
}

.check-box:selected .mark {
    -fx-background-color: #9c20cb;
}

.check-box .box {
    -fx-background-radius: 15px;
}

.tooltip {
    -fx-background-color: rgb(233, 238, 19);
    -fx-border-color: red;
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}